@model List<WebApplication1.Models.UserDto>


<div class="d-flex justify-content-between mb-3">
    <form asp-controller="Account" asp-action="Logout" method="post">
        <button type="submit" class="btn btn-danger">Logout</button>
    </form>
</div>

<h2>List of all Users</h2>

@if (User.IsInRole("Admin") || User.IsInRole("SuperAdmin"))
{
    <div class="mb-3">
        <a asp-action="Create" class="btn btn-success">Create new user</a>
    </div>
}

<table class="table">
    <thead>
        <tr>
            <th>ID</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Email</th>
            @if (User.IsInRole("Admin") || User.IsInRole("SuperAdmin"))
            {
                <th>Action</th>
            }           
        </tr>
    </thead>
    <tbody>
        @foreach (var user in Model)
        {
            <tr>
                <td>@user.Id</td>
                <td>@user.FirstName</td>
                <td>@user.LastName</td>
                <td>@user.Email</td>
                <td>
                    @if (User.IsInRole("Admin") || User.IsInRole("SuperAdmin"))
                    {
                        <a asp-action="Edit" asp-route-id="@user.Id" class="btn btn-warning">Edit</a>
                        <a asp-action="Delete" asp-route-id="@user.Id" class="btn btn-danger">Delete</a>
                    }
                </td>
            </tr>
        }
    </tbody>
</table>
